/*Eric Meyers reset 2.0*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


#container {
	width: 70.3125%; /*900px / 1280px responsive gutter*/
	margin: 0 auto;
	font-family: 'Quicksand', sans-serif;
}

.headline h1 {
	font-size: 5em;
	margin-left: 25%;
	margin-top: 50px;
	margin-bottom: 25px;
	font-family: 'Istok Web', sans-serif;
}

.headline p {
	font-size: 2em;
	margin-left: 40%;
	font-family: 'Istok Web', sans-serif;
}

.nav {
	border: 1px solid gray;

	
}

.nav {
	margin-top: 25px;
	padding: 30px;
	width: 93.5%; /*800px / 900px */
	margin-left: 2.5%;
}

.nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  font-size: 1.2em;
}

.nav ul li a {
	text-decoration: none;
	color: rgba(0,0,0,.5);
	transition: all ease-in-out .7s;
	border-bottom: 1px solid transparent;
}

.nav a:hover {
	color: rgba(0,0,0,1);
	border-color: black ;
}

.slider {
	width: 100%;
	border: 1px solid gray;
	overflow: hidden;
	position: relative;
	margin-left: 2.5%;
	margin-top: 25px;
	height: 500px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}



.slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	transition:opacity 1.5s linear; 
    -moz-transition:opacity 1.5s linear; 
    -webkit-transition:opacity 1.5s linear;
}

#content h1 {
	font-size: 2.8em;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 43%; 
}

#content h3 {
	font-size: 2em;
	margin-left: 2%;
}

table {
	margin-left: 2.5%;
	margin-top: 25px;
	line-height: 2em;
	width: 100%;
}


td {
	width: 33%;
	padding-bottom: 20px;
}

#heading {
	font-weight: bolder;
	font-size: 1.3em;
	padding-bottom: 20px;
}





.foot {
	width: 100%;
	height: 200px;
	margin-top: 50px; 
	margin-left: 2.5%;
	background-color: #9C9C9C;
}

.foot ul {
display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  font-size: 1.2em;
  padding-top: 25px;
}

.foot a {
	text-decoration: none;
	color: rgba(0,0,0,.5);
	transition: all ease-in-out .7s;
	border-bottom: 1px solid transparent;
}

.foot a:hover {
	color: rgba(0,0,0,1);
	border-color: black;
	
}

.foot p {
	margin-top: 50px;
	margin-left: 40%;
}